__pycache__/autoRQA.cpython-311.pyc
__pycache__/crossRQA.cpython-311.pyc
__pycache__/autoRQA.cpython-311.pyc
__pycache__/crossRQA.cpython-311.pyc
build/lib.macosx-11.0-arm64-cpython-311/utils/rqa_utils_cpp.cpython-311-darwin.so
build/temp.macosx-11.0-arm64-cpython-311/utils/rqa_utils.o
rqa_analysis.egg-info/dependency_links.txt
rqa_analysis.egg-info/PKG-INFO
rqa_analysis.egg-info/requires.txt
rqa_analysis.egg-info/SOURCES.txt
rqa_analysis.egg-info/top_level.txt
__pycache__/autoRQA.cpython-311.pyc
__pycache__/crossRQA.cpython-311.pyc
utils/__pycache__/plot_utils.cpython-311.pyc
__pycache__/autoRQA.cpython-311.pyc
__pycache__/crossRQA.cpython-311.pyc
__pycache__/autoRQA.cpython-311.pyc
__pycache__/autoRQA.cpython-311.pyc
__pycache__/crossRQA.cpython-311.pyc
utils/__pycache__/plot_utils.cpython-311.pyc
__pycache__/crossRQA.cpython-311.pyc
utils/__pycache__
build
.venv
rqa_utils_cpp.cp311-win_amd64.pyd
__pycache__/autoRQA.cpython-312.pyc
__pycache__/crossRQA.cpython-312.pyc
__pycache__/multivariateRQA.cpython-312.pyc
.gitignore
utils/rqa_utils_cpp.cpython-312-darwin.so
__pycache__/multivariateRQA.cpython-311.pyc
.vscode/settings.json
rqa_analysis.egg*
test_R.ipynb
__pycache__
*pyd